.contact-list,
.footer-list,
.nav-list,
.contact-list {
  list-style-type: none;
}

.web,
.logo {
  color: #2196F3;
  font-family: "Raleway" sans-serif;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.logo {
  color: #000000;
  text-decoration: none;
}

.navigation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  list-style: none;
  text-decoration: none;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation:hover, .navigation:focus {
  color: #2196F3;
}

.navigation::after {
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-portfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196F3;
}

.navigation-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196F3;
  list-style: none;
  text-decoration: none;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus,
.icon:hover,
.icon:focus {
  color: #2196F3;
}

.container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  width: 1200px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.nav-list {
  display: flex;
  gap: 50px;
  margin: 0px;
  margin-left: 93px;
  padding: 0;
}

.contact-list {
  display: flex;
  text-align: center;
  gap: 50px;
  margin: 0px;
  padding-left: 0px;
  align-items: center;
}

.contacts-container {
  display: flex;
  margin-left: auto;
}

.icon {
  fill: currentColor;
  margin-right: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

.buttons-group {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  border-radius: 4px;
  padding: 6px 22px;
  margin-top: 0px;
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
}

.btn:hover, .btn:focus {
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #FFFFFF;
}

.buttons-group,
.products {
  list-style: none;
  margin-bottom: 50px;
  margin-top: 0px;
  padding: 0px;
}

.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0px;
  padding-bottom: 5px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.product-item {
  flex-basis: calc((100% - 60px) / 4);
  width: 370px;
  padding-top: 0px;
  margin-top: 0px;
}

.products > [img] {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.product-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

.card {
  border: 1px solid #EEEEEE;
  border-top: transparent;
  padding-left: 24px;
  padding-top: 0px;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.product-item:hover, .product-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-section {
  padding-top: 100px;
  padding-bottom: 95px;
}

.container-products {
  width: 1200px;
  margin: 0 auto;
}

.product-description {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  max-width: 370px;
  height: 294px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  margin: 0;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
}

.product-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
}

.product-item:hover .product-description {
  transform: translateY(0);
}

a {
  text-decoration: none;
}

.address {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 1200;
}

.logo-footer {
  color: white;
}

.contacts-list-footer {
  list-style: none;
  padding: 0;
  font-style: normal;
  margin: 0px;
}

.contacts-footer {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin: 0px;
}

.mail {
  margin-bottom: 10px;
}

.address {
  font-style: normal;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.social-footer {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.social-footer-container {
  display: flex;
  width: 206px;
  height: 80px;
  flex-wrap: wrap;
  margin-left: 70px;
  color: #FFFFFF;
  padding-top: 12px;
}

.title-social-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 0px;
}

.social-footer {
  gap: 10px;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  color: #ffffff;
  fill: #FFFFFf;
  align-self: center;
  margin: 0px;
  padding: 0px;
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover, .social-link-footer:focus {
  background-color: #2196F3;
  fill: #FFFFFf;
}

.social-icon:hover, .social-icon:focus {
  fill: #FFFFFF;
}

.social-link-footer:hover .social-icon, .social-link-footer:focus .social-icon {
  fill: #FFFFFF;
}

.social-icon {
  fill: #AFB1B8;
}

.input-footer-label {
  display: flex;
}

.sub-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-left: 12px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 0;
  border: transparent;
}

.input-footer {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.footer-form-wrap {
  display: flex;
  align-items: center;
}

.input-footer::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.input-footer:not(:placeholder-shown) {
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
}

.send-icon {
  fill: #FFFFFF;
  margin-left: 10px;
}

.sub-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
}

.sub-footer {
  margin-left: 93PX;
}/*# sourceMappingURL=portfolio-style.css.map */