.hero {
        text-align: center;
            display: flex;
            justify-content: center;
            padding-top: 200px;
            background-image: url(../img/hero-img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            max-width: 1600px;
            margin: 0 auto;
            background-color: #2F303A;
            padding-bottom: 210px;
    




}

.hero__title {
    display: flex;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    max-width: 696px;




    text-align: center;

    justify-content: center;
    padding-top: 0px;
    margin: 0 auto;






}




.hero__btn {
    font-family: 'Roboto', sans-serif;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    background: #2196F3;
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;

    justify-content: center;
    border: transparent;
    border-radius: 4px;
    margin-top: 30px;



}